* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.image-1 {
    width: 300px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.image-2 {
    display: none;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 20px;
}

.category-name {
    text-transform: uppercase;
    letter-spacing: 3px;
}

h1 {
    font-family: "Fraunces", serif;
    font-size: 2.5em;
    line-height: 1em;
}

.category-name,
.product-description {
    color: hsl(228, 12%, 48%);
}

.product-description {
    line-height: 1.5em;
}

.price {
    display: flex;
    align-items: center;
}

.price-after {
    font-family: "Fraunces", serif;
    font-size: 2em;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    padding-right: 20px;
}

.price-before {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

button {
    border: none;
    background-color: hsl(158, 36%, 37%);
    padding: 15px 0;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

button:hover {
    background-color: hsl(212, 21%, 14%);
}

.shopping-icon {
    width: 14px;
    padding-right: 5px;
    vertical-align: middle;
}

@media (max-width: 600px) {
    main {
        display: flex;
        flex-wrap: wrap;
        margin: 50px 30px;
    }

    .image-1 {
        display: none;
    }

    .image-2 {
        display: block;
        max-width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    
    .left-section  {
        margin: 30px 15px;
    }

    h1 {
        margin: 15px 0;
    }

    .product-description {
        margin-bottom: 15px;
    }

    .price {
        margin-bottom: 15px;
    }
}






